@xs-half:  ~"(max-width: 479px)"; //
@xs:    ~"(max-width: 767px)";
@sm:    ~"(min-width: 768px) and (max-width: 991px)";
@md:    ~"(min-width: 992px) and (max-width: 1199px)";
@lg:    ~"(min-width: 1200px)";
@xl:    ~"(min-width: 1460px)";

@xs-min:  ~"(min-width: 480px)"; // >= xs-half
@sm-min:  ~"(min-width: 768px)"; // >= sm
@md-min:  ~"(min-width: 992px)"; // >= md
@lg-min:  ~"(min-width: 1200px)";

@max-sm:  ~"(max-width: 991px)";
@max-md:  ~"(max-width: 1199px)";
@max-lg:  ~"(max-width: 1459px)";

// @font: Arial, Helvetica, sans-serif;
@font: 'Prompt', Arial, Helvetica, sans-serif;
@font2: 'Gotham', sans-serif;
// @font-content: 'TH Sarabun New', sans-serif;

@color-text: #707070;
@color-heading: #030303;
@color-black: #000;

@color-primary: rgba(255, 167, 38, 1);

@color-red: #ed1c2b;
@color-blue: #1b3a5b;

@color-gray: #8d8d8d;
@color-light-gray: #868e96;

@border-gray: #b7b7b7;
@border-gray2: #979797;

@input-color: #acacac;

@bg-gray: #E6E6E6;
@bg-blue-light: #dbeafb;