<template>
  <div>
    <account-container
      title="บัญชีธนาคาร"
      action-title="แก้ไข"
      action-link="/account/bank-account/edit"
    >
      <div>
        <div class="bank-account-wrapper">
          <div class="bank-account-list-wrapper">
            <div class="item">
              <span class="title">ธนาคาร : </span><span class="detail">{{ user && user.bankName || '-' }}</span>
            </div>
            <div class="item">
              <span class="title">เลขบัญชี : </span><span class="detail">{{ user && user.bankAccount || '-' }}</span>
            </div>
            <div class="item">
              <span class="title">สถานะ : </span>
              <span
                v-if="user.isBankVerify"
                class="detail green"
              >ได้รับการตรวจสอบแล้ว</span>
              <span v-else class="detail red">ยังไม่ได้รับการตรวจสอบ</span>
            </div>
          </div>
        </div>
      </div>
    </account-container>
    <loading-modal v-if="isLoading" />
  </div>
</template>
<script>
import { get, call } from 'vuex-pathify'
import AccountContainer from '~/components/account/AccountContainer.vue'
import LoadingModal from '~/components/loading-modal.vue'

export default {
  components: {
    AccountContainer,
    LoadingModal
  },
  layout: 'account',
  middleware: 'authenticated',
  data () {
    return {
      isLoading: false
    }
  },
  mounted () {
    this.isLoading = true
    this.fetchMe().then((res) => {
    }).catch((e) => {

    }).finally(() => {
      this.isLoading = false
    })
  },
  computed: {
    ...get('auth', {
      user: 'user'
    })
  },
  methods: {
    ...call('auth', [
      'fetchMe'
    ])
  }
}
</script>

<style lang="less" scoped>
.bank-account-wrapper {
  padding: 26px 0px;
  .bank-account-list-wrapper {
    padding-left: 26px;
    line-height: 30px;
    .item {
      color: #424242;
      font-size: 1.6rem;
      font-weight: 300;
    }
    .detail {
      font-weight: 500;
      &.green {
        color: #43be39
      }
      &.red {
        color: red;
      }
    }
  }
}
</style>
