<template>
  <div>
    <account-container title="ที่อยู่ปัจจุบัน">
      <div>
        <a-form @submit="handleSubmit">
          <div class="content-wrapper">
            <div class="form-wrapper">
              <a-form-item
                label="ที่อยู่"
                :label-col="{ span: 5 }"
                :wrapper-col="{ span: 12 }"
              >
                <a-input
                  v-model="address.addressDetail"
                  placeholder="ที่อยู่"
                />
              </a-form-item>
              <a-form-item
                label="จังหวัด"
                :label-col="{ span: 5 }"
                :wrapper-col="{ span: 12 }"
              >
                <a-select
                  v-model="address.provinceId"
                  placeholder="จังหวัด"
                  @change="onSelectProvice"
                >
                  <a-select-option
                    v-for="(province, index) in provinces"
                    :key="index"
                    :value="province.id"
                  >
                    {{ province.name.th }}
                  </a-select-option>
                </a-select>
              </a-form-item>
              <a-form-item
                label="เขต/อำเภอ"
                :label-col="{ span: 5 }"
                :wrapper-col="{ span: 12 }"
              >
                <a-select
                  v-model="address.districtId"
                  placeholder="เขต/อำเภอ"
                  not-found-content="กรุณาเลือก จังหวัด"
                  @change="onSelectDistrict"
                >
                  <a-select-option
                    v-for="(district, index) in filterDistricts"
                    :key="index"
                    :value="district.id"
                  >
                    {{ district.name.th }}
                  </a-select-option>
                </a-select>
              </a-form-item>
              <a-form-item
                label="แขวง/ตำบล"
                :label-col="{ span: 5 }"
                :wrapper-col="{ span: 12 }"
              >
                <a-select
                  v-model="address.subDistrictId"
                  placeholder="แขวง/ตำบล"
                  not-found-content="กรุณาเลือก เขต/อำเภอ"
                  @change="onSelectSubDistrict"
                >
                  <a-select-option
                    v-for="(subDistrict, index) in filterSubDistricts"
                    :key="index"
                    :value="subDistrict.id"
                  >
                    {{ subDistrict.name.th }}
                  </a-select-option>
                </a-select>
              </a-form-item>
              <a-form-item
                label="รหัสไปรษณีย์"
                :label-col="{ span: 5 }"
                :wrapper-col="{ span: 12 }"
              >
                <a-select
                  v-model="address.postalCodeId"
                  placeholder="รหัสไปรษณีย์"
                  not-found-content="กรุณาเลือก แขวง/ตำบล"
                  @change="onSelectPostalCode"
                >
                  <a-select-option
                    v-for="(postalCode, index) in filterPostalCodes"
                    :key="index"
                    :value="postalCode.id"
                  >
                    {{ postalCode.code }}
                  </a-select-option>
                </a-select>
              </a-form-item>
            </div>
          </div>
          <div class="action-wrapper">
            <!-- <a-button class="oa-button is-danger" size="large" :style="{ marginRight: '18px' }">ลบ</a-button> -->
            <!-- <a-button class="oa-button" size="large" :style="{ marginRight: '18px' }">ยกเลิก</a-button> -->
            <a-button class="oa-button is-primary" size="large" @click="handleSubmit">
              บันทึก
            </a-button>
          </div>
        </a-form>
      </div>
    </account-container>
    <loading-modal v-if="isLoading" />
  </div>
</template>
<script>
import { get, call } from 'vuex-pathify'
import AccountContainer from '~/components/account/AccountContainer.vue'
import LoadingModal from '~/components/loading-modal.vue'
import districts from '~/configs/address/districts.json'
import postalCodes from '~/configs/address/postal_codes.json'
import provinces from '~/configs/address/provinces.json'
import subDistricts from '~/configs/address/subdistricts.json'

export default {
  components: {
    AccountContainer,
    LoadingModal
  },
  layout: 'account',
  data () {
    return {
      isLoading: false,
      address: {
        addressDetail: '',
        provinceId: undefined,
        districtId: undefined,
        subDistrictId: undefined,
        postalCodeId: undefined
      },
      districts,
      postalCodes,
      provinces,
      subDistricts
    }
  },
  computed: {
    ...get('auth', {
      user: 'user'
    }),
    filterDistricts () {
      return this.districts.filter((value, index, array) => {
        return value.provinceId === this.address.provinceId
      })
    },
    filterSubDistricts () {
      const result = this.subDistricts.filter((value, index, array) => {
        return value.districtId === this.address.districtId
      }).filter((value, index, array) => {
        return postalCodes.some(postalCode => postalCode.districtCode === value.code)
      })
      return result
    },
    filterPostalCodes () {
      const subDistrict = this.filterSubDistricts.filter((value, index, array) => {
        return value.id === this.address.subDistrictId
      })
      const districtCode = (subDistrict && subDistrict[0] && subDistrict[0].code) || -1
      return postalCodes.filter((value, index, array) => {
        return value.districtCode === districtCode
      })
    }
  },
  mounted () {
    this.isLoading = true
    this.fetchMe().then((res) => {
      if (this.user.address) {
        this.address = {
          ...this.user.address
        }
      }
    }).catch((e) => {

    }).finally(() => {
      this.isLoading = false
    })
  },
  methods: {
    ...call('auth', [
      'fetchMe',
      'updateAddress'
    ]),
    handleSubmit () {
      this.isLoading = true
      const payload = {
        firstName: '-',
        lastName: '-',
        phoneNumber: '-',
        provinceId: this.address.provinceId,
        districtId: this.address.districtId,
        subDistrictId: this.address.subDistrictId,
        postalCodeId: this.address.postalCodeId,
        addressDetail: this.address.addressDetail,
        country: 'Thailand'

      }
      this.updateAddress(payload).then(() => {
        return this.fetchMe()
      }).then((res) => {
        this.openNotificationWithIcon('success', 'สำเร็จ', 'เปลี่ยนข้อมูลที่อยู่สำเร็จ')
      }).catch(() => {
        this.openNotificationWithIcon('error', 'ไม่สำเร็จ', 'เปลี่ยนข้อมูลที่อยู่ไม่สำเร็จ โปรดตรวจสอบอีกครั้ง')
      }).finally(() => {
        this.isLoading = false
      })
    },
    onSelectProvice (proviceId) {
      this.address.provinceId = proviceId
      this.address.districtId = undefined
      this.address.subDistrictId = undefined
      this.address.postalCodeId = undefined
    },
    onSelectDistrict (districtId) {
      this.address.districtId = districtId
      this.address.subDistrictId = undefined
      this.address.postalCodeId = undefined
    },
    onSelectSubDistrict (subDistrictId) {
      this.address.subDistrictId = subDistrictId
      // this.address.districtCode = this.filterSubDistricts.filter((value, index, array) => {
      //   return value.id === this.address.subDistrictId
      // })[0].code
      this.address.postalCodeId = undefined
    },
    onSelectPostalCode (postalCodeId) {
      this.address.postalCodeId = postalCodeId
    },
    openNotificationWithIcon (type, message, description) {
      this.$notification[type]({
        message,
        description,
        duration: 2
      })
    }
  }
}
</script>

<style lang="less" scoped>
.content-wrapper {
  .title-wrapper {
    border-bottom: 1px solid rgba(158, 158, 158, 0.4);
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    .title {
      color: #424242;
      font-size: 1.6rem;
      font-weight: 500
    }
  }
}
.form-wrapper {
  padding: 20px 0;
  @media only screen and (min-width: 992px) {
    padding: 20px 80px;
  }
  /deep/ .ant-input {
    height: 40px;
    &::placeholder {
      color: #95989a;
    }
  }
  /deep/ .ant-select-selection--single {
    height: 40px;
  }
  /deep/ .ant-form-item {
    margin-bottom: 20px;
  }
  /deep/ .ant-select-selection__rendered {
    line-height: 38px;
  }
  /deep/ .ant-select-selection__placeholder {
    color: #95989a;
    font-weight: 400;
    font-size: 1.4rem;
  }
  /deep/ .ant-form-item-label > label {
    color: #424242;
  }
}
.mock-img {
  background: #424242;
  &.small {
    margin-top: 10px;
    height: 93px;
  }
}
.action-wrapper {
   border-top: 1px solid rgba(158, 158, 158, 0.4);
   display: flex;
   justify-content: flex-end;
   padding-top: 36px;
}

.cancel {
  width: 100px;
}
.remove {
  width: 100px;
  color: white;
  background: #f20000;
}
.save {
  width: 100px;
  color: white;
  background: #ff9300;
}
.pd-t-20px {
  padding-top: 20px;
}
</style>
