<template>
  <div id="bidding">
    <base-container>
      <bread-crumb :links="links" />
      <wizard :step="state" :steps="steps">
        <component
          :is="openStateComponent"
          :medias="medias"
          :price-current="biddingAuction.priceCurrent"
          :price-start="biddingAuction.priceStart"
          :farm="biddingAuction.farm"
          :expected-harvest-output="biddingAuction.expectedHarvestOutput"
          :expected-harvest-date-time-start="biddingAuction.expectedHarvestDateTimeStart"
          :expected-harvest-date-time-end="biddingAuction.expectedHarvestDateTimeEnd"
          :extra-condition="biddingAuction.extraCondition"
          :bidding-auction="biddingAuction"
          :is-favorite="isFavorite"
          :bidding-price="biddingPrice"
          :otp-ref="createBidAuctionOtpResult && createBidAuctionOtpResult.ref || ''"
          :otp.sync="otp"
          :topfive="topfiveAuction"
          :user="user"
          @createFavorite="onCreateFavorite"
          @removeFavorite="onRemoveFavorite"
          @addBidding="onAddBidding"
          @nextState="onNextState"
          @previousState="onPreviousState"
          @submit="onSubmit"
          @onRequestOtp="onRequestOtp"
          @onConfirmBid="onConfirmBid"
          @onBidding="onBidding"
        />
      </wizard>
    </base-container>
  </div>
</template>

<script>
import { call, get } from 'vuex-pathify'
import { mapWaitingActions } from 'vue-wait'
import BreadCrumb from '~/components/base-components/bread-crumb.vue'
import Wizard from '~/components/base-components/wizard/wizard.vue'

export default {
  name: 'AuctionBiddingPage',
  layout: 'gray-background',
  middleware: ['authenticated', 'required-bidding-auction'],
  components: {
    BreadCrumb,
    Wizard
  },

  data () {
    return {
      mediasResp: [],
      otp: undefined,
      biddingPrice: 0,
      state: 0,
      maxState: 3,
      steps: [
        {
          title: 'ขั้นตอนการเตรียมการประมูล',
          component: require('~/components/auction-page/bidding/prepare-bidding.vue').default
        },
        {
          title: 'ทำการประมูล',
          component: require('~/components/auction-page/bidding/bidding.vue').default
        },
        {
          title: 'ยืนยันการประมูล',
          component: require('~/components/auction-page/bidding/confirm-bidding.vue').default
        },
        {
          title: 'สรุปข้อมูลการประมูล',
          component: require('~/components/auction-page/bidding/summary-bidding.vue').default
        }
      ]
    }
  },
  computed: {
    createBidAuctionResult: get('auction/createBidAuctionResult'),
    createBidAuctionOtpResult: get('auction/createBidAuctionOtpResult'),
    topfiveAuction: get('auction/topfiveAuction'),
    user: get('auth/user'),
    openStateComponent () {
      return this.steps[this.state].component
    },
    medias () {
      if (this.mediasResp && this.mediasResp.length > 0) {
        return this.mediasResp.map(media => media.path)
      }
      return []
    },
    // isFavorite () {
    //   if (this.biddingAuction && this.biddingAuction.favoriteAuctionBases && this.biddingAuction.favoriteAuctionBases.length > 0) {
    //     return true
    //   }
    //   return false
    // },
    links () {
      if (this.biddingAuction && this.biddingAuction.farm) {
        const { farm } = this.biddingAuction
        return [
          {
            'title': 'ประมูลสินค้า',
            'link': ''
          }, {
            'title': `${farm.fruitBreed && farm.fruitBreed.fruitType && farm.fruitBreed.fruitType.name} สายพันธุ์ ${farm.fruitBreed && farm.fruitBreed.name}`,
            'subtitle': `${farm.name}, ${(farm && farm.province && farm.province.th) || ''} ${(farm && farm.districts && farm.districts.th) || ''}`,
            'link': ''
          }
        ]
      } else {
        return [
          {
            'title': 'ประมูลสินค้า',
            'link': ''
          }
        ]
      }
    }
  },
  asyncData ({ store }) {
    return {
      biddingAuction: store.state.auction.biddingAuction,
      biddingPrice: store.state.auction.biddingAuction.priceCurrent,
      isFavorite: !!(store.state.auction.biddingAuction &&
      store.state.auction.biddingAuction.favoriteAuctionBases &&
      store.state.auction.biddingAuction.favoriteAuctionBases.length > 0)
    }
  },
  async fetch ({ store }) {
    try {
      await store.dispatch('auth/fetchMe')
    } catch (e) {

    }
  },
  async mounted () {
    try {
      await this.fetchUserAuctionById(this.$route.params.id)
      await this.fetchAuctionTopfive({
        auctionBaseId: this.$route.params.id
      })
      const resp = await this.fetchAuctionMedias({
        auctionBaseId: this.$route.params.id
      })
      const { results } = resp
      if (results && results.length > 0) {
        this.mediasResp = results
      }
    } catch (error) {
      this.$router.push('/auction')
    }
  },
  methods: {
    ...call('auction', [
      'createAuctionFavorite',
      'removeAuctionFavorite',
      'createBidAuction',
      'createBidOtp',
      'fetchAuctionMedias',
      'fetchAuctionTopfive'
    ]),
    ...mapWaitingActions('auction', {
      createAuctionFavorite: 'base loading',
      removeAuctionFavorite: 'base loading',
      createBidAuction: 'base loading',
      createBidOtp: 'base loading',
      fetchUserAuctionById: 'base loading'
    }),
    async onCreateFavorite () {
      try {
        await this.createAuctionFavorite(this.biddingAuction.id)
        this.$notification.success({
          message: 'ติดตามสำเร็จแล้ว',
          description: `คุณได้ติดตามฟาร์ม '${this.biddingAuction.farm.name}' สำเร็จแล้ว`
        })
        this.isFavorite = true
      } catch (e) {
        this.$notification.error({
          message: 'ไม่สำเร็จ',
          description: 'มีบางอย่างผิดพลาด!'
        })
      }
    },
    async onRemoveFavorite () {
      try {
        await this.removeAuctionFavorite(this.biddingAuction.id)
        this.$notification.success({
          message: 'ยกเลิกการติดตามสำเร็จแล้ว',
          description: `คุณได้ยกเลิกการติดตามฟาร์ม '${this.biddingAuction.farm.name}' สำเร็จแล้ว`
        })
        this.isFavorite = false
      } catch (e) {
        this.$notification.error({
          message: 'ไม่สำเร็จ',
          description: 'มีบางอย่างผิดพลาด!'
        })
      }
    },
    onAddBidding (amount) {
      this.biddingPrice += amount
    },
    onNextState () {
      if (this.state < this.maxState) { this.state++ }
    },
    onPreviousState () {
      if (this.state > 0) { this.state-- }
    },
    onSubmit () {
      this.$router.push({ name: 'auction' })
    },
    async onBidding () {
      try {
        await this.createBidOtp()
        this.onNextState()
      } catch (error) {
        this.$notification.error({
          message: 'Error',
          description: 'ไม่สามารถทำการขอ OTP ได้'
        })
      }
    },
    async onRequestOtp () {
      try {
        await this.createBidOtp()
      } catch (error) {
        this.$notification.error({
          message: 'Error',
          description: 'ไม่สามารถทำการขอ OTP ได้'
        })
      }
    },
    async onConfirmBid () {
      try {
        const bidData = {
          bidPrice: this.biddingPrice,
          auctionBase: this.biddingAuction.id,
          tempRef: (this.createBidAuctionOtpResult && this.createBidAuctionOtpResult.ref) || '',
          tempOtp: this.otp || ''
        }
        console.log('bidData', bidData)
        await this.createBidAuction(bidData)
        this.onNextState()
      } catch (error) {
        let errorMessage = 'เกิดข้อผิดพลาด'
        const { response } = error
        const { data } = response
        if (data && data.length > 0) {
          if (data[0] === 'self auction') {
            errorMessage = 'ไม่สามารถประมูลให้ตัวเองได้'
          } else if (data[0] === 'price lower than current price') {
            errorMessage = 'ราคาที่ประมูลต้องมากกว่าราคาเดิม'
          } else if (data[0] === 'invalid guarantee') {
            errorMessage = 'วงเงินการันตี ของท่านไม่เพียงพอ'
          } else if (data[0] === 'invalid otp') {
            errorMessage = 'รหัส OTP ผิดพลาด'
          }
        }
        this.$notification.error({
          message: 'Error',
          description: errorMessage
        })
      }
    }
  }
}
</script>
