<template>
  <div class="gray-bacground-layout">
    <base-header />
    <nuxt :key="$route.fullPath" />
    <loading-modal v-if="$wait.is('base loading')" />
  </div>
</template>

<script>
import BaseHeader from '~/components/base-header'

import LoadingModal from '~/components/loading-modal.vue'

export default {
  name: 'GrayLayout',
  components: {
    BaseHeader,
    LoadingModal
  }
}
</script>

<style scoped>
.gray-bacground-layout {
  background-color: #e7e7e7;
  min-height: 100%;
  padding-top: 80px;
  padding-bottom: 90px;
}
</style>
