<template>
  <div id="prepareBidding">
    <div class="body">
      <a-col :span="24" :lg="{ span: 10 }">
        <base-no-img v-if="medias.length === 0" label="ไม่มีรูปภาพ" />
        <base-carousel v-else :medias="medias" />
      </a-col>
      <div class="body right">
        <div class="top">
          <div class="left">
            <h1 v-if="biddingAuction.status === 'OPEN'" class="title">
              ราคาประมูลสูงสุดขณะนี้
            </h1>
            <label v-if="biddingAuction.status === 'OPEN'" class="price">{{ priceCurrent | numberComma }}</label>
            <label class="description">ราคาเริ่มประมูล : {{ priceStart | numberComma }} บาท</label>
            <p class="f-s-1-4 f-w-500" :style="{ marginTop: '16px', marginBottom: '7px' }">
              ประวัติการประมูลล่าสุด
            </p>
            <div v-if="topfive && topfive.length > 0">
              <div v-for="(top, index) in topfive" :key="index" class="description">
                {{ index + 1 }}. {{ top.bidPrice | numberComma }} บาท - {{ top.bidDateTime | timeTh }} , {{ top.bidDateTime | dateTimeTh }}
              </div>
            </div>
            <div v-else style="font-size: 1.2rem; color: #e0e0e0">
              ไม่มีประวัติการประมูล
            </div>
          </div>
          <div class="right">
            <a-row class="w-100pct" type="flex" justify="space-between">
              <a-button v-if="isFavorite" class="h-40px" type="danger" ghost @click="onRemoveFavorite">
                ไม่ติดตาม
              </a-button>
              <a-button
                v-else
                class="h-40px"
                type="primary"
                ghost
                :disabled="biddingAuction.status !== 'OPEN'"
                @click="onCreateFavorite"
              >
                + ติดตาม
              </a-button>
              <a-button class="h-40px" type="primary" :disabled="biddingAuction.status !== 'OPEN' || !user.isAuctioneer" @click="onNextState">
                ทำการประมูล
              </a-button>
            </a-row>
            <label class="description pd-t-10px">เครดิตคงเหลือ : {{ user.guaranteeRemaining || 0 | numberComma }} บาท</label>
            <label class="description">เครดิตที่ใช้ไป : {{ user.guaranteeUsed || 0 | numberComma }} บาท</label>
          </div>
        </div>
        <div class="bottom">
          <div class="left">
            <label>ผลไม้ : {{ farm.fruitBreed && farm.fruitBreed.fruitType && farm.fruitBreed.fruitType.name }}</label>
            <label>สายพันธุ์ : {{ farm.fruitBreed && farm.fruitBreed.name }}</label>
            <label>ฟาร์ม : {{ farm.name }}</label>
            <label>จังหวัด : {{ farm && farm.province && farm.province['th'] || '' }}</label>
            <label>อำเภอ : {{ farm && farm.districts && farm.districts['th'] || '' }}</label>
            <label>พื้นที่ (ไร่) : {{ farm.numArea || 0 | numberComma }}</label>
            <label>จำนวน (ต้น) : {{ farm.numTree || 0 | numberComma }}</label>
            <label>ผลผลิตที่คาดการณ์(ต้น) : {{ expectedHarvestOutput || 0 | numberComma }}</label>
            <label>วันที่เริ่มเก็บเกี่ยว : {{ expectedHarvestDateTimeStart | dateTimeTh }}</label>
            <label>วันที่เก็บเกี่ยวเสร็จ : {{ expectedHarvestDateTimeEnd | dateTimeTh }}</label>
          </div>
          <div class="right">
            <label>บันทึกเพิ่มเติมจากผู้เปิดประมูล :</label>
            <p>{{ extraCondition || '-' }}</p>
            <label>เบอร์โทรศัพท์ : {{ biddingAuction && biddingAuction.user && biddingAuction.user.mobile || '-' }}</label>
            <label>Line : {{ biddingAuction && biddingAuction.user && biddingAuction.user.lineId || '-' }}</label>
            <label>Facebook : {{ biddingAuction && biddingAuction.user && biddingAuction.user.facebookId || '-' }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BaseCarousel from '~/components/base-carousel.vue'
import BaseNoImg from '~/components/base-no-img.vue'

export default {
  name: 'PrepareBiddingState',
  components: { BaseCarousel, BaseNoImg },
  props: {
    medias: Array,
    priceCurrent: Number,
    priceStart: Number,
    farm: Object,
    expectedHarvestOutput: Number,
    expectedHarvestDateTimeStart: String,
    expectedHarvestDateTimeEnd: String,
    extraCondition: String,
    isFavorite: Boolean,
    topfive: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      default: () => {}
    },
    biddingAuction: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    onNextState () {
      this.$emit('nextState')
    },
    onCreateFavorite () {
      this.$emit('createFavorite')
    },
    onRemoveFavorite () {
      this.$emit('removeFavorite')
    },
    onBidding () {
      this.$emit('onBidding')
    }
  }
}
</script>

<style lang="scss" scoped>
.body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 10px;
  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  &.left {
    flex-basis: 40%;
    flex-direction: column;
    @media only screen and (max-width: 768px) {
      width: 100%;
      flex-basis: 100%;
    }
  }
  &.right {
    flex-basis: 60%;
    margin-left: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    @media only screen and (max-width: 768px) {
      flex-basis: 100%;
      margin-left: 10px;
    }
    .form {
      width: 100%;
    }
    > .top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      @media only screen and (max-width: 768px) {
        flex-wrap: wrap;
      }
      .left {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        flex-basis: 60%;
        @media only screen and (max-width: 768px) {
          width: 100%;
          flex-basis: 100%;
          order: 2;
        }
        .title {
          font-size: 22px;
          font-weight: 500;
          margin-bottom: 0px;
        }
        .price {
          font-size: 26px;
          font-weight: 500;
          color: #ff9300;
        }
        .description {
          font-size: 14px;
          font-weight: 500;
          margin-top: 0px;
        }
      }
      .right {
        display: flex;
        justify-content: flex-end;
        flex-flow: row wrap;
        flex-basis: 40%;
        @media only screen and (max-width: 768px) {
          width: 100%;
          flex-basis: 100%;
          margin-bottom: 15px;
          justify-content: flex-start;
          order: 1;
        }
        .description {
          font-size: 14px;
          font-weight: 500;
          margin-top: 0px;
          width: 100%;
          text-align: right;
          @media only screen and (max-width: 768px) {
            text-align: left;
          }
        }
      }
    }
    > .bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin-top: 20px;
      @media only screen and (max-width: 768px) {
        flex-wrap: wrap;
      }
      .left {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        flex-basis: 50%;
        border-right: 1px solid rgba(158, 158, 158, 0.4);
        @media only screen and (max-width: 768px) {
          width: 100%;
          flex-basis: 100%;
          border-right: 0;
        }
        .title {
          font-size: 22px;
          font-weight: 500;
          margin-bottom: 0px;
        }
        .price {
          font-size: 26px;
          font-weight: 500;
          color: #ff9300;
        }
        .description {
          font-size: 14px;
          font-weight: 500;
          margin-top: 0px;
        }
      }
      .right {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-basis: 50%;
        flex-direction: column;
        padding-left: 20px;
        @media only screen and (max-width: 768px) {
          width: 100%;
          flex-basis: 100%;
          padding-left: 0;
          margin-top: 15px;
        }
      }
    }
  }
}
</style>
